<div class="blog-item-lite" id="item-lite">
    <a href="{{ post.url }}">
        <img src="{{ post.data.image }}" alt="">
        <div class="text-lite-blog">
                <h1>{{ post.data.title }}</h1>
            
        <span>Leia sobre</span>
        </div>
    </a>
</div>